.login {
  background-color: $light-color-1;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form {
    max-width: 450px;
    margin: auto;
  }
  .sign-in-link {
    display: block;
    padding-top: 2rem;
    color: $primary-color;
    text-align: center;
  }
}
