.contact {
  height: max-content;
  background-color: $light-color-1;
  color: $primary-color;
  padding: 0 10%;
  @media only screen and (max-width: $tablet) {
    padding: 0 1.5rem;
  }
  &__header {
    text-align: center;
    font-size: 300%;
    padding: 3rem 0;
  }
  &__links {
    margin-top: 2rem;
    width: 100%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    @media only screen and (max-width: $tablet) {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }
}

.address {
  @media only screen and (max-width: $tablet) {
    padding: 0px 30px;
    margin-right: auto;
  }
  @media only screen and (max-width: $phone) {
    padding: 0px 15px;
  }
  &__title {
    font-size: 80%;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0;
  }

  &__code {
    font-size: 120%;
    font-weight: 100;
    margin-bottom: 2rem;
  }

  &__link {
    color: currentColor;
    &:hover,
    &:active {
      text-decoration: none;
      color: rgba($primary-color, 0.7);
    }
    .fa-map-marker-alt {
      margin-left: 1rem;
    }
  }
}

.maps {
  z-index: 100;
  width: 70%;
  height: 60%;
  border-radius: 5px;
  position: relative;

  &__close {
    position: absolute;
    color: $light-color-2;
    top: 15%;
    right: 12%;
    font-size: 150%;
  }
}
