.extras {
  padding: 1rem 0;
  &__header {
    font-size: 2rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
 
  }
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc( 50% - 20px );
    margin-right: 30px;
    &:nth-child(2n){ margin: 0;}
    
    @media only screen and (max-width: $tablet_land) {
      width: 100%;
      &:nth-child(1n){ margin: 0;}
    } 
    

    label{margin: 0;}
  }

  &__input {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 2rem;
    cursor: pointer;
    font-size: 17px;
    visibility: hidden;
    position: relative;
    background-color: red;
    @media only screen and (max-width: $tablet_land) {
      transform: scale(0.8)
    } 

    &:after {
      content: "";
      background-color: #fff;
      display: inline-block;
      margin-left: 10px;
      color: $secondary-light;
      width: 2.2rem;
      height: 2.2rem;
      visibility: visible;
      border: 1px solid $primary-color;
      border-radius: 5px;
    }

    &:checked:after {
      content: "\2714";
      padding: 0 2px;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}

.pay {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  padding: 0 2rem;
  @media only screen and (max-width: $tablet) {
    padding: 0;
  }
  &__count {
    display: flex;
    align-items: center;
  }

  &__input {
    margin: 0 1rem;
    text-align: center;
    background-color: $primary-color;
    color: $light-color-2;
    border: none;
    border-radius: 3px;
    width: 3.2rem;
    height: 3.5rem;
  }

  &__less,
  &__more {
    cursor: pointer;
    font-size: 4rem;
    font-weight: 800;
  }
}

.btn {
  font-size: 100%;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  background-color: $primary-color;
  color: $light-color-2;
  cursor: pointer;

  &:active,
  &:focus {
      outline: none !important;
      transform: translateY(1px);
  }
  &:hover {
    background-color: $green-dark;
  }
  &__pay {
    display: flex;
    // justify-content: center;
    align-items: center;
  }

  span {
    margin-right: 1rem;

  }
}


.sauce{
  &:active,
  &:focus {
      outline: none;
  }

  &__item {
    background-color: $light-color-2;

  }

  &__select{
    padding-left: 0;
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 3px;
    border: 1px solid $primary-color;
    color: $primary-color;
    padding-left: 1rem;
    
    &:hover,
    &:active{
      background-color: red;
    }

    &:focus{
      outline: none;
    }
    &:hover{
     background-color: rgba(0,0,0, 0.1);
   }
  }
}