.navigation {
  position: sticky;
  top: 0;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: $primary-color;
  z-index:2;
  @media only screen and (max-width: $desktop) {
    padding-right: 5%;  
  } 
  a {
    color: white;
    text-decoration: none;
  }
  .nav {
    &__list {
      display: flex;
      justify-content: flex-end;
      list-style: none;
    }
    &__item {
        padding: 1rem;
        transition: all .4s;
        &:hover{
            background-color: $secondary-light;
        }
    }
  }
}
.active {
  border-bottom: 3px solid $secondary-light;
  @media only screen and (max-width: $tablet_land) {
    border-bottom: 2px solid $secondary-light;   
   } 
  @media only screen and (max-width: $phone) {
    border-bottom: 1px solid $secondary-light;   
   } 
}

.basket {
  &,
  &:link,
  &:visited {
    font-weight: 600;
    position: relative;
    text-decoration: none;
    color: $light-color-2;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50px;
    background-color: $light-color-2;
    color: $light-color-1;
    // border: 1px solid $light-color-1;
    position: absolute;
    top: .3rem;
    right: 0;
    @media only screen and (max-width: $phone) {
      transform: scale(0.5);
    }
  }
}


