.popup {
    height: 100vh;
    width: 100%;
    min-width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    color: $primary-color;
    background-color: rgba(black, .8); 
    z-index: 50; 
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__close {
        position: absolute;
        right: 2rem;
        top: 2rem;
        text-decoration: none !important;
        color: $primary-color;
        :hover {
            color: $secondary-light;
        }
    }
    
    &:target {
        opacity: 1;
        visibility: visible;
    }
    
    &:target &__basket {
        opacity: 1;
    }

    &__basket {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $light-color-2;
        border-radius: 5px;
        height: 70vh;
        width: 70rem;
        @media only screen and (max-width: $tablet) {
            width: 80%;
            height: 80vh;
        } 
    }
    
    &__header{
        padding: 2rem;
        font-weight: 900;
        position: relative;
        &-name{
            font-size: 160%;
        }
    }
    &__toogle {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__order{
        overflow: auto;
        border-bottom: 1.2px dotted $primary-color;
        padding: 0rem 3rem;
        @media only screen and (max-width: $tablet) {
            padding: 0rem 1.5rem;
        } 
    }

    &__dish{
        padding: .5rem;
        &-name{
            font-size: 130%; 
        }
        &-extras,
        &-sauce{ 
            font-size: 16px;
            span{
               font-size: 14px;
               text-transform: initial;
            }
        }
    }
    &__change{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        .less,
        .more{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;

            width: 2rem;
            height: 2rem;
            background-color: $primary-color;
            color: $light-color-2;
            font-size: 70%;
            border: none;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &:hover {
                background-color: $green-dark ;
            }
        }
    }

    &__order-count{
        min-width: 80px;
        display: flex;
        align-content: space-between;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    }
 
    &__total{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
    }
    &__icon{
        font-size: 120%;
        margin-left: .3rem;
        color: $secondary-color;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__btn{
        display: block;
        margin-bottom: 2rem;
        border: none;
        background-color: $primary-color;
        color: $light-color-2;
        width: 80%;
        margin-left: 10%;
        border-radius: 5px;
        font-size: 130%;
        transition: all .4s;
        text-align: center;
        cursor: pointer;
        &:hover,
        &:active{
            background-color: $green-dark;
            transform: scale(1.05);
        }
    }
    &__count {
        display: flex;
        border: solid 1px $light-color-1;
        border-radius: 5px;
        font-size: 80%;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 2rem;
        margin: 0rem .5rem;
    }

    &__done {
        display: none;
        padding:  2rem;
        color: $green-dark;
        font-size: 150%;
        text-align: center;

        &-icon{
            color: $green-dark;
            font-size: 300%;
            text-align: center;
        }
    }
}

.empty {
    &__close {
        display: block;
        float: right;
        top:1rem;
        right: 1rem;
    }

    &__text{
        padding:  1.5rem;
        color: $primary-color;
        text-align: center;
        font-size: 200%;
        &-demo {
            font-size: 80%;
        }
    }

    &__icon{
        color: $secondary-light;
        font-size: 300%;
        text-align: center;
        width: 100%;
    }
    &__btn{ 
        margin: 5rem;
        padding: 1rem;
        background-color: $light-color-1;
        &:hover{
            transform: scale(1.05);
            background-color: $green-light;
        }
    }
}

.overflow {
    overflow: auto;
    max-height: calc(70vh - 200px);
    @media only screen and (max-width: $tablet) {
        max-height: calc(80vh - 200px);
    }
    &::-webkit-scrollbar { width: .5em;  }    
    &::-webkit-scrollbar-thumb {
        background-color: $secondary-light;
        border-radius: 50px;
    }
}

.dish__note {
    width: 100%;
    text-align: center;
    &-input{
        width: 80%;
        background-color: $light-color-2;
        color: $primary-color;
        box-shadow: 2px solid black;
        font-size: 80%;
        height: 7rem;
        border-radius: 10px;
        padding: .5rem;
        &:active, &:focus {
            outline: none;
            background-color: rgba($light-color-1, .1)
        }
    }
}