.socialmedia {
  position: relative;
  background-color: $light-color-1;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 10px;
    align-items: center;

    font-size: 150%;
    font-weight: 700;
    color: $primary-color;

    &::before,
    &::after {
      content: "";
      height: 2px;
      display: block;
      background-color: currentColor;
    }
  }

  &__container {
    width: 100%;
    background-color: $primary-color;
    position: relative;
    display: flex;
    @media only screen and (max-width: $tablet) {
      flex-direction: column;
    }
  }
  &__content {
    width: 75%;
    @media only screen and (max-width: $tablet) {
      width: 100%;
  }
  }
  &__commentsCard {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
    @media only screen and (max-width: $tablet) {
      width: 100%;
    }
  }
  &__photo {
    width: 100%;
  }
}

.socialmedia__links {
  a {
    color: $primary-color;
  }

  padding: 1rem;
  font-size: 200%;
  align-self: center;
  width: 50%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;

  i:hover {
    background-color: white;
    border-radius: 10px;
    width: 95%;
    line-height: 85%;
  }
  &-youtube i:hover {
    line-height: 70%;
  }

  &-facebook:hover {
    color: #4267b2;
  }
  &-youtube:hover {
    color: $secondary-light;
  }
  &-twitter:hover {
    color: #1da1f2;
  }
  &-instagram:hover i {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    height: 55%;
    background-image: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
  }
}
.comment-card {
  padding: 2rem 4rem;
  color: $light-color-2;
  border-radius: 5px;
  width: 100%;
  display: flex;
  position: relative;

  @media only screen and (max-width: $tablet) {
    padding: 1rem 2rem;
    position: absolute;
    background-color: rgba($primary-color, .7);
    width: 80%;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    &:last-child { display: none;}
  }

  &-content {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }

  &__user {
    &-stars {
      display: inline-block;
      font-size: 10px;
      margin-left: 1.5rem;
      i {margin-left: .3rem;}
      .fa-star{
        color: gold;
      }
    }
    &-name {
      text-transform: uppercase;
      font-size: 16px; 
      line-height: 1;
    }

    &-date {
      font-size: 12px;
    }
    &-data {
      p,
      h2 {
        padding: 0;
        margin: 0;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }

    &-photo {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      @media only screen and (max-width: $tablet) {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  &__comments {
    font-size: 12px;
    word-wrap: break-word;
    margin-top: 1rem;
  } 
}
